@page
@model Authentication_Appplication.Pages.Product.CreateModel

@{
    ViewData["Title"] = "Create";
}

<style>
    * {
        margin-left: 20px;
        margin-right: 20px;
    }
</style>

<h1>Create</h1>

<h4>HeelInfo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="HeelInfo.Color" class="control-label"></label>
                <input asp-for="HeelInfo.Color" class="form-control" aria-required="true"/>
                <span asp-validation-for="HeelInfo.Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="HeelInfo.Size" class="control-label"></label>
                <input asp-for="HeelInfo.Size" class="form-control" aria-required="true"/>
                <span asp-validation-for="HeelInfo.Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="HeelInfo.Price" class="control-label"></label>
                <input asp-for="HeelInfo.Price" class="form-control" aria-required="true"/>
                <span asp-validation-for="HeelInfo.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeelInfo.StockQuantity" class="control-label"></label>
                <input asp-for="HeelInfo.StockQuantity" class="form-control" />
                <span asp-validation-for="HeelInfo.StockQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
